
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #010115;
	color: #1d1d1d;
}

header{
	position: fixed;
	top: 0;
	background: #410509;
	color: #fff;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	padding: 10px;
}
header a {
	color: #fff;
	text-decoration: none;
}


.header-logo{
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}
.header-logo img{
	vertical-align: middle;
	width: 60px;
	padding: 0 10px;
	
}
.header-titulo{
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
.header-search{
	align-self: center;
}
.search-form{
	padding: 5px;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	
}
.search-form-input, .search-button{
	flex-grow: 1;
  background-color: transparent;
  border: none;
  font-family: inherit;
  outline: none;
  font-weight: 600;
	color: #fff;
	font-size: 16px;
}
.search-form-input{
	width: 140px;
}
.search-button{
	cursor: pointer;
}



.contenedor {
	width: 90%;
	max-width: 1500px;
	margin: 80px auto 100px auto;
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.contenedor-error{
	margin: 40px;
	color: #fff;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contenedor-error img{
	width: 80%;
	padding: 15px;
	border-radius: 50px;
}

.pelicula {
	cursor: pointer;
	width: 250px;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	background-color: rgb(104, 10, 16) ;
	color: #aaaaaa;
	margin: 5px;
	
}

.poster {
	width: 100%;
	height: 85%;
	
}

.overlay{
	width: 100%;
	position: absolute;
	transform: translateY(85%);
	background-color: rgb(104, 10, 16) ;
	color: #fff;
	overflow: hidden;
	transition: .6s ease;
	height: 100%;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	text-align: center;
	padding: 0.5rem;
	gap: 1.2rem;
	
}

.titulo {
	display: flex;
	height: calc(15% - 1rem);
	font-size: 16px;
	font-weight: 600;
}
.titulo h3{
	margin: auto;
	padding: 0;
}

.sinopsis{
	overflow-y: scroll;
	text-align: start;
	height: 100%;
}
.sinopsis::-webkit-scrollbar{
	display: none;
}
.puntaje{
	vertical-align: bottom;
}
.pelicula:hover .overlay{
	transform: translateY(0%);

}




/*Botones */

.paginacion {
	position: fixed;
	bottom: 0;
	background: #410509;
	width: 100%;
	color: #fff;
}

.paginacion button {
	cursor: pointer;
	border: none;
	height: 40px;
	background: #680a10;
	color: #fff;
	border-radius: 50px;
	font-weight: bold;
	transition: .3s ease all;
	font-size: 25px;
	padding-inline: 2rem;
}

.paginacion button:hover {
	background: #484646;
} 


#info, #info-search{
	text-align: center;
	align-self: center;
	font-weight: bold;
}

.popular-paginacion, .popular-search{
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px
}
/* .popular-search{
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px
} */

@media only screen and (max-width: 600px) {
  .header-titulo{
		display: none;
	}
}