
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background: #010115;
	color: #1d1d1d;
}

header{
	position: fixed;
	top: 0;
	background: #410509;
	color: #fff;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	padding: 10px;
	
}

header a img{
	vertical-align: middle;
	width: 60px;
	padding: 0 10px;
	
}
header a{
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: end;
}
header h1{
	text-align: center;
}

.header-titulo{
	font-size: 2rem;
	font-weight: bold;
}


.contenedor {
	width: 90%;
	max-width: 1500px;
	margin: 80px auto 100px auto;
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}


.pelicula {
	cursor: pointer;
	width: 250px;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	background-color: rgb(104, 10, 16) ;
	color: #aaaaaa;
	margin: 5px;
	
}

.poster {
	width: 100%;
	height: 85%;
	
}

.overlay{
	width: 100%;
	position: absolute;
	transform: translateY(85%);
	background-color: rgb(104, 10, 16) ;
	color: #fff;
	overflow: hidden;
	transition: .6s ease;
	height: 100%;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	text-align: center;
	padding: 0.5rem;
	gap: 1.2rem;
	
}

.titulo {
	display: flex;
	height: calc(15% - 1rem);
	font-size: 16px;
	font-weight: 600;
}
.titulo h3{
	margin: auto;
	padding: 0;
}

.sinopsis{
	overflow-y: scroll;
	text-align: start;
	height: 100%;
}
.sinopsis::-webkit-scrollbar{
	display: none;
}
.puntaje{
	vertical-align: bottom;
}
.pelicula:hover .overlay{
	transform: translateY(0%);

}









/*Botones */

.paginacion {
	position: fixed;
	bottom: 0;
	background: #410509;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 40px;
	background: #680a10;
	color: #fff;
	border-radius: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	transition: .3s ease all;
	font-size: 25px;
	padding-inline: 2rem;
}

.paginacion button:hover {
	background: #484646;
} 

.paginacion p{
	align-self: center;
  justify-content: center;
  color: #fff;
	font-weight: bold;
}


